img{
    max-width: 100%;
}
body{
    font-family: 'Montserrat', sans-serif;
}
html{
    scroll-behavior: smooth;
}

/*...................../
   Header Section 
/.....................*/

.header {
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
}
.header-logo {
	padding: 28px 0;
}
.header-logo img{
    height: 28px;
}

.header-menu{}
.header-menu ul {
	text-align: right;
	margin-bottom: 0;
}
.header-menu ul li{
    display: inline-block;
}
.header-menu ul li a {
	color: #165292;
	text-decoration: none;
	display: inline-block;
	padding: 20px 12px;
	font-weight: 500;
	transition: .5s;
	line-height: 44px;
}
.header-menu ul li:hover > a{
    color: #007bff;
}
.header-menu ul li:first-child a{
    color: #007bff;
}

/*----- Drop Down Part----- */

.header-menu ul li{
    position: relative;
}
.header-menu ul li ul{
    position: absolute;
    top: 130%;
    left: 0;
    width: 200px;
    background-color: #fff;
    text-align: center;
    padding-left: 0;
    visibility: hidden;
    opacity: 0;
    box-shadow: 2 0 5px rgba(228, 228, 228, 0.329);
    transition: .5s;
}
.header-menu ul li ul li{
    display: block;
}
.header-menu ul li ul li a{
    line-height: 5px;
    display: block;
}
.header-menu ul li:hover > ul{
    opacity: 1;
    visibility: visible;
    top: 100%;
}
.header-menu ul li ul li ul{
    top: 0;
    left: 80%;
    position: absolute;
    padding: 10px 0;
}
.header-menu ul li ul li:hover ul{
    left: 100%;
    top: 0;
    box-shadow: 0 2px 5px rgba(228, 228, 228, 0.329);
}
.header-menu ul li ul li ul li{
    display: block;
}
.header-menu ul li ul li ul li a{}

/* ......................
   Banner Section
.........................*/

.banner{
    background: url("https://i.ibb.co/qsVNf2w/hero-bg.png") no-repeat center bottom;
    background-size: cover;
    padding: 200px 0;
}
.banner-content{
    padding: 150px 0;
}
.banner-content h1{
    width: 25%;
}
.banner-content h1 span{}
.banner-left h1 {
	font-size: 50px;
	font-weight: 700;
	color: #fff;
	width: 500px;
}
.banner-left h1 span {
	color: #74b5fc;
	text-decoration: underline;
}
.b-btn{
    margin-top: 40px;
}
.btn1 {
	text-decoration: none;
	color: #fff;
    font-size: 15px;
	font-weight: 700;
	display: inline-block;
	background: #007bff;
	padding: 10px 33px;
	margin-right: 15px;
	border-radius: 25px;
    border: 2px solid transparent;
    transition: .5s;
}
.btn2 {
	text-decoration: none;
	color: #fff;
	font-weight: 700;
    font-size: 15px;
	display: inline-block;
	background: none;
	padding: 10px 30px;
	margin-right: 15px;
	border-radius: 25px;
    border: 2px solid #fff;
    transition: .5s;
}
.btn1:hover{
    color: #fff;
    background: none;
    border: 2px solid #fff;
}
.btn2:hover{
	background: #007bff;
    color: #fff;
    border: 2px solid transparent;
}

/*....................
    About Section     
..................... */

.about{
}
.common-title{}
.common-title h1 {
	font-size: 35px;
	color: #283d50;
}
.common-title p {
	font-family: "Open Sans", sans-serif;
	width: 50%;
	margin: auto;
	color: rgba(90, 90, 90, 0.89);
	padding-bottom: 6px;
	padding: 10px 0;
	font-size: 16px;
}

.paragraph{}
.paragraph p{
    font-family: "Open Sans", sans-serif;
    line-height: 30px;
    font-size: 17px;
    color: #5a5a5a;
}

.iconTempor{}
.tds-box {
	margin-bottom: 20px;
}
.icon-b {
	border: 2px solid #007bff;
	border-radius: 50%;
	display: block;
	height: 65px;
	width: 65px;
	text-align: center;
	line-height: 65px;
    transition: .5s;
}
.icon-b span{
    font-size: 23px;
    color: #007bff;
    transition: .5s;
}

.icon-text {
	margin-left: -20px;
}
.icon-text h4 {
	font-size: 18px;
	font-weight: 700;
	color: #283d50;
}
.icon-text p {
	font-size: 14px;
}
.first-hero {
	margin-top: 43px;
}
/* hover */
.tds-box:hover .icon-b{
    background-color: #007bff;
}
.tds-box:hover span{
    color: #fff;
}

.sec-hero{}
.sec-hero img{}

.second-hero-text{}
.second-hero-text h3 {
	color: #444444;
	font-weight: 700;
	font-size: 24px;
    padding-bottom: 6px;
}
.second-hero-text p{
    font-family: "Open Sans", sans-serif;
    line-height: 28px;
    font-size: 17px;
    color: #525252;
    padding: 6px 0;
}

/* ................
  Service Section
.................. */
.service{
    background-color: #ecf5ff;
}

.service-all-box{
    margin-left: 15px;
    margin-right: 15px;
}
.service-box {
	padding: 22px 15px;
	margin: 25px 14px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 2px 3px 19px #d7e0e3ad;
	transition: .6s;
}
.service-icon {
	padding-top: 15px;
    padding-left: 6px;
}
.service-icon span{
    font-size: 50px;
}

.box-content {
	margin-left: -10px;
}
.box-content h4 {
	padding-bottom: 8px;
	font-size: 19px;
	font-weight: 700;
    transition: .5s;
}
.box-content p {
	color: #494949;
    font-family: "Open Sans", sans-serif;
    line-height: 28px;
    font-size: 16px;
}
/* hover */
.service-box:hover{
    transform: translateY(-10px);
}
.service-box:hover .box-content h4{
    color: #007bff;
}


/* ...................
   Choose us Section
...................... */

.choose{
    background-color: #004a99;
    color: #fff;
}
.choose-title h1 {
	font-size: 36px;

}
.choose-title p {
	width: 50%;
	margin: auto;
	padding-top: 10px;
    font-family: "Open Sans", sans-serif;
}

.choose-box {
	background-color: #00458f;
	padding: 28px 15px;
	margin: 0 11px;
    border-radius: 10px;
    transition: .5s;
   
}
.choose-box span {
	font-size: 50px;
	color: #bfddfe;
}
.choose-box h3 {
	font-size: 21px;
	font-weight: 700;
	padding: 15px 0;
}
.choose-box p {
	color: #bfddfe;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
}
.choose-box a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: .5s;
    margin: 10px 0;
}
.rank-number{
    margin-top: 30px;
}
.rank-number h1 {
	font-weight: 700;
	font-size: 50px;
}
.rank-number p {
	color: #bfddfe;
	font-size: 14px;
}
/* hover */
.choose-box:hover {
	background-color: #003e80;
	box-shadow: 1px 1px 13px #054c9969;
}
.choose-box:hover a{
    border-bottom: 2px solid rgb(4, 91, 190);
}
.choose-box a:hover{
    border-bottom: 2px solid #fff;
}


/* ................
   Our Portfolio
................... */

.portfolio{
    box-shadow: 3px 0px 6px #000;
}
.portfolio-title{}
.portfolio-title h1 {
	font-size: 36px;
	color: #283d50;
}
.portfolio-btn{}
.portfolio-btn a{
    text-decoration: none;
    color: #007bff;
    background-color: #ecf5ff;
    padding: 6px 20px;
    display: inline-block;
    border-radius: 23px;
    font-size: 12px;
    margin: 0 6px;
    font-family: "Open Sans", sans-serif;
    transition: .5s;
}
.portfolio-btn a:first-child{
    background-color: #007bff;
    color: #fff;
}
.portfolio-btn a:hover{
    background-color: #007bff;
    color: #fff;
}

.portfolio-hero{

}
.hero-image{
    position: relative;
}
.hero-image img{
    border-radius: 5px;
}
.overly-content {
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
	bottom: 0px;
	text-align: center;
	background: #083671b0;
	border-radius: 5px;
	padding-top: 90px;
	opacity: 0;
	transition: .4s;
}
.overly-content:hover{
    opacity: 1;
    height: 100%;
    width: 100%;
}
.overly-content h3 {
	color: #fff;
	font-weight: 700;
	font-size: 25px;
}
.overly-content p{
    color: rgb(236, 236, 236);
}

.ov-icon{}
.ov-icon a{
	color: #fff;
	background-color: #007bff;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	display: inline-block;
	line-height: 40px;
	margin: 0 4px;
    transition: .4s;
}
.ov-icon a:hover{
    background-color: #439af8;
}

.p1 {
	padding-top: 63%;
}
.p2{
    padding-top: 40%;
}

/* .....................
   Testimonial Section
....................... */

.containers{
    width: 950px;
    margin: auto;
}
.testimonial{
    background-color: #ecf5ff;
}
.test-title{}
.test-title h1 {
	color: #283d50;
	font-size: 36px;
}

.hero{}
.hero img {
	border-radius: 50%;
	width: 120px;
	border: 5px solid #fff;
}

.car-text {
	text-align: left;
	top: -20px;
	position: relative;
	left: -20px;
}
.car-text h3 {
	font-size: 21px;
	font-weight: 700;
    color: #283d50;
}
.car-text span {
	font-size: 14px;
	color: #919191;
	/* margin-top: -17px; */
	display: inline-block;
	padding-bottom: 9px;
}
.car-text p {
	font-style: italic;
	color: #4f4f4f;
	font-family: "Open Sans", sans-serif;
	font-size: 17px;
}

.btn-pro button{
    width: 16px !important;
    height: 16px !important;
    background-color: #0358b4 !important;
    border-radius: 50%;
    
}


/* ................
Team Section
................... */

.team{}
.member-hero{
	text-align: center;
  margin-bottom: 20px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}
.member img{}
.member-hero-info{
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	transition: .4s;
}
.member-info-content{
	margin-top: 50px;
	transition: margin 0.2s;
}
.member-hero:hover .member-hero-info{
 	background: rgba(0, 62, 128, 0.7);
    opacity: 1;
    transition: .4s
}
.member-hero:hover .member-info-content{
	margin-top: 0;
	transition: .4s;
}

.member-info-content h4{
	font-size: 18px;
	color: #fff;
	font-weight: 700;
	margin-bottom: 4px;
}
.member-info-content span{
	color: #fff;
	font-style: italic;
	font-size: 12px;
}
.social{}
.social a{
	color: rgb(219, 219, 219);
	padding: 0 5px;
	font-size: 20px;
	margin-top: 6px;
	display: inline-block;
}

/* .....................
   Clients Section
.............................. */

.client{
	padding: 60px 0;
	box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
	background-color: #e3effdb6;
}
.clients-pro{
	border-top: 1px solid #d6eaff;
	border-left: 1px solid #d6eaff;
	margin-bottom: 30px;
}
.client-hero{
	padding: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 1px solid #d6eaff;
	border-bottom: 1px solid #d6eaff;
	overflow: hidden;
	background: #fff;
	height: 160px;
}
.client-hero img{
	transition: all .4s ease-in-out;
}
.client-hero:hover img{
	transform: scale(1.2);
}


/* .................
 Contact Section
....................*/

.sc i{
	font-size: 28px;
}


/* Footer-top */

.footer-top{
	background: #004a99;
	padding: 60px 0 30px 0;
	color: #fff;
}
.footer-title-text h3{
	font-size: 34px;
	margin-bottom: 20px;
	padding: 2px  0;
	line-height: 1;
	font-family: "Montserrat", sans-serif;
	color: #fff;
	font-weight: 400;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.footer-title-text p{
	color: #ecf5ff;
	font-size: 13px;
	line-height: 24px;
	margin-bottom: 0;
	font-family: "Montserrat", sans-serif;
}
.footer-links{
	margin-bottom: 30px;
}
.footer-links ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.footer-links ul li{
	display: block;
}
.footer-links ul li a{
	text-decoration: none;
	color: #fff;
	line-height: 35px;
	font-size: 14px;
	transition: .4s;
}
.footer-links ul li a:hover{
	color: rgb(100, 169, 248);
}

.footer-top h4{
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	position: relative;
	padding-bottom: 10px;
}
.footer-contact p{
	color: #ecf5ff;
	font-size: 13px;
	line-height: 24px;

	font-family: "Montserrat", sans-serif;
}
.social-links a{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: #007bff;
	margin-right: 4px;
	border-radius: 50%;
	text-align: center;
	width: 36px;
	height: 36px;
	transition: .4s;
}
.social-links a:hover{
	background-color: #0b519c;
}
.footer-newsletter p{
	color: #ecf5ff;
	font-size: 13px;
	line-height: 24px;
	font-family: "Montserrat", sans-serif;
}
.sbmt{
	background: #007bff;
	border: 0;
	width: 35%;
	padding: 6px 0;
	text-align: center;
	color: #fff;
	transition: 0.3s;
	cursor: pointer;
}
.eml{
	border: 0;
	padding: 6px 8px;
	width: 65%;
}

.footer-bottom{
	background: #00428a;
}
.copyright p{
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
}